@tailwind base;
@tailwind components;
@tailwind utilities;

/* custom resets */
:root{
  --accent:#eaf9fb;
  --card:#f7feff;
}

/* body */
body {
  @apply bg-[#091013] bg-opacity-70;
  font-family: Inter, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
}

/* small helpers to mimic Figma glow */
.bg-figma {
  background: radial-gradient( circle at 10% 10%, rgba(69,170,200,0.15), transparent 10%),
              radial-gradient( circle at 90% 80%, rgba(160,220,240,0.15), transparent 20%),
              linear-gradient(90deg, rgba(230,249,253,1), rgba(213,240,252,1));
}
